.theme_bg {
  background-color: var(--theme_color);
}

.theme_color {
  color: var(--theme_color);
}

.widget_title {
  font-size: 1.2rem;
}

.widget_save_block {
  background-color: var(--light-grey-color);
  padding: 1.5rem;
  margin: -4rem;
  margin-top: 1rem !important;
  margin-right: -2rem;
}
